/* Custome color ==   #F73D93   #F56D91 #FF5757 */

/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  font-family: "Roboto Condensed", sans-serif;
}
h2 {
  font-size: 2rem;
}
h1 {
  font-size: 4.5rem;
}
a {
  text-decoration: none;
  color: #7e7e7e;
  font-size: 14px;
}
a:hover {
  color: #ff5757;
}
p {
  color: #797979;
  margin: 0px;
}
li {
  list-style: none;
}

/* ================ */
.menu_icon i {
  color: #333333;
}
.menu_icon i:hover {
  color: #ff5757;
}
.banner {
  background-image: url("/images/banner.jpg");
  background-position: start;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  overflow: hidden;
}

.promo {
  color: #ff5757;
}
/* ==================== */
.promo-item {
  height: 180px;
}
.bestPicks {
  background-color: #f7f7f7;
}

.bestPicks p {
  color: #797979;
}

.discount-item {
  width: 100%;
  height: 450px;
}
.discount-item img {
  width: 100%;
  height: 90%;
}
.discount-item a {
  background-color: #ffffff;
  display: block;
  text-align: center;
  height: 10%;
  padding: 10px 0px;
  color: #7e7e7e;
  font-size: 14px;
}
.discount-item a:hover {
  color: #ff5757;
}
/* =========== */
.card .dollar {
  color: #ff5757;
  font-weight: 700;
}
.card img {
  height: 250px;
}
.btn {
  color: #ff5757;
  border: 2px solid #ff5757;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px;
}
.btn:hover {
  border: 2px solid transparent;
  color: #ffffff;
  background-color: #ff5757;
}
/* =================== */
/* .shoe-discount {
  background-image: url("/images/bg.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 150px;
} */
.shoe-discount {
  background-color: antiquewhite;
  padding: 30px 0px;
}
.selectedt-left {
  height: 500px;
}
.selectedt-left img {
  width: 75%;
  height: 100%;
}
.blogs {
  padding: 60px 0px;
}
.subscribe {
  background-color: #ffd4d4;
}
footer {
  background-color: #2a2a2a;
}
/* ==================================== */
/* ==================================== */
/* Media Query */
@media screen and (max-width: 991px) {
  .selectedt-left img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .selectedt-left {
    height: 300px;
  }
  .selectedt-left img {
    width: 100%;
    height: 80%;
    margin-top: 25px;
  }
}
@media screen and (max-width: 575px) {
  .selectedt-left {
    height: 200px;
    margin-bottom: 20px;
  }
  .selectedt-left img {
    width: 50%;
    height: 90%;
  }
}
